/** Stylus Styles */
@import '~vuetify/src/stylus/settings/_colors.styl'
$theme := {
  primary: $teal.base
  accent: $teal.base
  secondary: $grey.darken-3
  info: $blue.base
  warning: $amber.base
  error: $red.darken-3
  success: $green.darken-1
}
@import '~vuetify/src/stylus/main'
